main {
    max-width: 600px; 
    margin: 0 auto; 
}

#fetch-posts {
    position: absolute;
    top: 5px; 
    left: 10px;
    margin-bottom: 5px; 
    margin-right: 5px; 
    padding: 5px 10px; 
}


#posts-container {
    border: 2px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    max-width: 600px; 
    text-align: center;
    position: relative; 
}

#post-list {
    list-style-type: none;
    padding: 0;
    margin: 30px 0 0; 
}


#post-list li {
    text-align: left;
    margin: 10px 0;
}

#post-list li::before {
    content: "• ";
    color: blue;
}
